<mat-toolbar color="primary">Simple Monte Carlo CPU vs. GPU</mat-toolbar>

<div class="container"
     fxLayout.gt-md="row"
     fxLayoutAlign.gt-md="space-evenly stretch"
     fxLayoutGap="20px"
     fxLayout.lt-md="column"
     fxLayoutAlign.lt-md="space-evenly">

  <mat-card class="form-container" fxFlex.gt-md="30">
    <mat-card-header>
      <mat-card-title>Monte Carlo Simulation Parameters</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">

        <mat-radio-group
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="runOn">
          <label>Run on: </label>
          <mat-radio-button value="CPU">
            CPU
          </mat-radio-button>
          <mat-radio-button value="GPU">
            GPU
          </mat-radio-button>
        </mat-radio-group>

      <form fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="monteCarloRequestFormGroup" (ngSubmit)="runSimulation()">
        <mat-form-field>
          <input matInput type="number" placeholder="Number of iterations" formControlName="numIterations">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Expected Return" formControlName="expectedReturn">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Volatility" formControlName="volatility">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Time Horizon (Years)" formControlName="timeHorizon">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Starting Value" formControlName="startingValue">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Annual Investment" formControlName="annualInvestment">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!monteCarloRequestFormGroup.valid">Run Simulation</button>

      </form>

    </mat-card-content>
  </mat-card>

  <div
    class="results-container"
    fxFlex.gt-md="70"
  >
    <mat-progress-spinner
      *ngIf="showSpinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
    <div
      *ngIf="monteCarloResult">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Summary:</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list dense>
            <mat-list-item>Simulation time: {{ monteCarloResult.simulationTime }} ms</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Mean: {{ monteCarloResult.mean }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Standard deviation: {{ monteCarloResult.standardDeviation }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Min: {{ monteCarloResult.min }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Max: {{ monteCarloResult.max }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Ran on: {{ monteCarloResult.ranOn }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Number of iterations: {{ monteCarloResult.numIterations }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Time horizon: {{ monteCarloResult.timeHorizon }} years</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-divider [inset]="true"></mat-divider>

      <ngx-charts-bar-vertical
        *ngIf="monteCarloResult.histogram"
        [results]="monteCarloResult.histogram"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [animations]="false"
        [roundDomains]="true"
        [gradient]="true"
        xAxisLabel="Value"
        yAxisLabel="Count"
      >
      </ngx-charts-bar-vertical>

    </div>
  </div>

</div>


